*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.dv{
	width: 400px;
	height: 550px;
	padding: 20px;
	border: 2px solid;
	margin: auto;
	margin-top:50px;
	color: white;
	background:skyblue;
	text-align: center;
}
.im{
	width:150px;
	height:150px;
	border-radius:50%;
	margin: 20px
}
.logo{
	border-radius: 50%;
	margin: 20px;
	float:right;
}
.dv h3{
	margin: 10px;
	
}
.dv h4{
	margin-top: 10px;
	margin-left: 20px;
	text-align:left;
	padding: 10px;
}